@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100 tracking-tight;
  }

  label {
    @apply font-medium text-sm;
  }
}

@layer components {
  .btn-primary {
    @apply bg-indigo-700 hover:bg-indigo-600 text-white font-medium;
  }

  .btn-secondary {
    @apply bg-slate-300 hover:bg-slate-100 text-black font-medium;
  }

  .group.flex.flex-col {
    margin: 0 !important;
    padding: 0 !important;
  }

  .group.flex.flex-col {
    margin: 0 !important;
    padding: 0 !important;
  }
}
